<div id="sidebar">
    <h1 class="title">OpenCart</h1>
    <nav>
        <a href="" class="nav-link">
            <i class="lni lni-home-2"></i>
            <span>Home</span>
        </a>

        <a routerLink="category" class="nav-link">
            <i class="lni lni-folder-1"></i>
            <span>Categories</span>
        </a>

        <a href="" class="nav-link">
            <i class="lni lni-sign-post-left"></i>
            <span>Tags</span>
        </a>

        <a href="" class="nav-link">
            <i class="lni lni-box-closed"></i>
            <span>Products</span>
        </a>
    </nav>

    <nav id="bottom-links">
        <a href="" class="nav-link">
            <i class="lni lni-gear-1"></i>
            <span>Settings</span>
        </a>

        <a href="" class="nav-link" id="logout">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </nav>
</div>