<h1>Categories List</h1>
<div class="flex justify-content-end">
  <a routerLink="create" class="btn btn-primary">Create</a>
</div>

<table *ngIf="categories">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
    </tr>
  </tbody>
</table>

<app-loading-indicator *ngIf="!categories"></app-loading-indicator>