<h1>Category List</h1>

<div class="flex justify-content-end">
  <a routerLink="create" class="btn btn-primary">+ New Category</a>
</div>

<table class="table" *ngIf="categories">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td>
        <a [routerLink]="['edit', category.id]" class="text-success font-bold">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<app-loading-indicator *ngIf="!categories"></app-loading-indicator>