/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  
}

:root {
  --primary-color: #a9e352;
  --secondary-color: #f5f5f5;
  --success-color: #87d8a7;
  --info-color: #51d7ef;
  --warning-color: #fed044;
  --danger-color: #f3807c;
  --white-color: #ffffff;
  --black-color: #000000;
}
*{
  font-family: Arial, Helvetica, sans-serif, 'Courier New', Courier, monospace;
}


.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-info {
  background-color: var(--info-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.border {
  border: 2px solid var(--black-color);
}

.font-bold {
  font-weight: bold;
}


