/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.lineicons.com/5.0/lineicons.css');

:root {
    --primary-color: #a9e352;
    --secondary-color: #f5f5f5b2;
    --success-color: #87d8a7;
    --info-color: #51d7ef;
    --warning-color: #fed044;
    --danger-color: #f3807c;
    --white-color: #ffffff;
    --black-color: #000000;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-success {
    background-color: var(--success-color);
}

.bg-info {
    background-color: var(--info-color);
}

.bg-warning {
    background-color: var(--warning-color);
}

.bg-danger {
    background-color: var(--danger-color);
}

.text-danger {
    color: var(--danger-color);
}

.border {
    border: 2px solid var(--black-color);
}

body {
    margin: 0;
}

.font-bold {
    font-weight: bold;
}

* {
    font-family: 'Verdana', 'Courier New', Courier, monospace;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

.form-control {
    border: 1px solid #a8a8a8;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.form-control:focus {
    outline: 1px solid var(--success-color);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    border: 1px solid #a8a8a8;
    padding: 5px;
}

.table th {
    background-color: var(--secondary-color);
}

.table tr:nth-child(even) {
    background-color: var(--secondary-color);
}

.table tr:hover {
    background-color: var(--primary-color);
}